<div class="row">
  <div class="small-6 small-offset-3 columns">
    <h2> User Information: </h2>
    <h4>
      <b>UserName</b>: <%= @user.username %>
    </h4>
    <h4>
      <b>Role</b>: <%= @user.role %>
    </h4>

    <h4>
      <b>Active</b>: <%= @user.active %>
    </h4>

  </div>
</div>
