<div class="row">
  <div class="small-8 columns">
    <% if @users.empty? %>
      <h3>No users at this time</h3>
    <% else %>
      <%= render :partial => "users_list" %>
    <% end %>
  </div>
  <!-- <div class="small-1 columns">&nbsp;</div> -->
  <div class="small-4 columns">
    &nbsp;
  </div>
</div>
