<div class="row">
  <div class="small-8 small-offset-2 columns">
    <h3>Sign up</h3>

    <p>Already have an account? <%= link_to "Log in", login_path %>.</p>

    <%= render 'form' %>
  </div>
</div>