<div id="landing_page">
	<div class="textbox">
		<h2>Welcome To A &amp; M Bread Express!</h2>
​			<h5 class="serif">Muffins | Pastries | Bread</h5>
			<h5 class="serif italic">"Tastes good. Damn good."</h5>
		<% if logged_in? &&( current_user.role? :customer) %>
			<%= link_to("Order Now", items_path, class: "button round")  %> 
		<% elsif logged_in? && ((current_user.role? :admin) || (current_user.role? :baker) || (current_user.role? :shipper)) %>
		<% else %>
			<%= link_to("Sign Up", signup_path, class: "button round")  %> 
		<% end %>
	</div>
</div>



