<div class="row">
  <div class="small-7 columns">
    <h2>About A &amp; M Bread Express</h2>

    <p>Bread Express is a Pittsburgh bakery dedicated to producing artisanal, handmade bread, muffins and pastries using traditional baking techniques.  Most of the artisan pastries we bake are gluten-free and have gone through a slow baking process, which improves the taste and your experience.
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</div>