<div class="row padding-top">
  <div class="small-6 small-offset-3 columns">
    <h2 class="serif">About A &amp; M Bread Express</h2>

    <p>Bread Express is a Pittsburgh bakery dedicated to producing artisanal, handmade bread, muffins and pastries using traditional baking techniques.  Most of the artisan pastries we bake are gluten-free and have gone through a slow baking process, which improves the taste and your experience.
    </p>

    <p><i><b>"We let our products speak for themselves."       ---Mark & Alex</b></i></p>

  </div>
</div>

<div class="row padding-top padding-bottom">
  <div class="small-10 small-offset-1  columns">
    <%= link_to( image_tag("pastry_5.jpg"), "/assets/images/pastry_5.jpg" ) %>
  </div>
</div>