<div class="row padding-top">
	<div class="small-4 small-offset-4 columns">
		<h2 class="text-centered serif">Contact Us</h2>
		<h4 class="supertiny">&nbsp;</h4>
		<table cellpadding="3">
			<tr>
				<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
				<td>Jingqi Yang (Lois)</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>
				<%= mail_to("wxyangjingqi@gmail.com", "wxyangjingqi@gmail.com", :encode => "javascript") %> 
				</td>
			</tr>
			<tr>
				<td>Phone:</td>
				<td>412-268-2323</td>
			</tr>
		</table>

	</div>
</div>

<div class="row padding-bottom">
  <div class="small-10 small-offset-1  columns">
    <%= link_to( image_tag("pastry_4.jpg"), "/assets/images/pastry_4.jpg" ) %>
  </div>
</div>