<div class="row padding-top">
	<div class="small-6 small-offset-3 columns">
		<h2 class="serif text-centered">Privacy Policy</h2>

		<p>The Bread Express is a simple and small business. Your trust means everything to us. That’s why we respect your privacy and protect it with strong encryption, plus strict policies that govern how all data is handled.</p>
		<p>Thank you for shopping with us. We hope to see you again soon. </p>
	</div>
</div>

<div class="row padding-bottom">
  <div class="small-8 small-offset-2 columns">
    <%= link_to( image_tag("pastry_9.png"), "/assets/images/pastry_9.png" ) %>
  </div>
</div>