<div class="row">
  <div class="small-7 columns padding-top">
    <%= render :partial => "order_details" %>
  </div>
  <% unless (logged_in? && current_user.role?(:shipper)) %>
    <div class="small-5 columns padding-top">
      <%= render partial: "previous_orders", locals: {previous_orders: @previous_orders}  unless @previous_orders.empty?%>
    </div>
  <% end %>
</div>

<% if logged_in? && current_user.role?(:customer) %>
  <div class="form-actions">
    <%= link_to orders_path, class: 'button radius' do %>
      &nbsp;Return to My Orders
    <% end %>
  </div>
<% end %>
