<div class="row padding-top">
  <div class="small-8 small-offset-2 columns">
    <%= render :partial => "address_details" %>
  </div>
  <div class="small-5 columns">
    &nbsp;
  </div>
</div>

<div class="row padding-top">
  <div class="small-8 small-offset-2 columns">
    <!-- Add buttons to list all, edit project or destroy object -->
    <%= render partial: "partials/object_options", locals: {model_name: "address", object: @address}  %>
  </div>
</div>