<h3>Product Details</h3>

<p>
  <b>Description</b>: <%= @item.description unless @item.description == nil %>
</p>

<p>
  <b>Current Price</b>: <%= @item.current_price %> 
</p>

<p>
  <b>Category</b>: <%= @item.category %>
</p>