<h3>Product Details</h3>

<p>
  <b>Description</b>: <%= @item.description unless @item.description == nil %>
</p>

<p>
  <b>Current Price</b>:$<%= format('%.02f', @item.current_price) %>
</p>

<p>
  <b>Category</b>: <%= @item.category %>
</p>

<p>
  <b>Total weight</b>: <%= @item.weight %> lbs. 
</p>

<% if current_user.role? :admin %>
  <% render :partial => "/itemprices/form" %>
<% end %>