<div class="row">
	<!-- a side bar showing the categories -->
	<div class="medium-4 columns">
	 <%= render :partial => "side_bar" %>
  </div>

	<div class="medium-8 columns">
    <% if @active_items.empty? %>
      <h3>Empty Menu</h3>
    <% else %>
      <h3>Current Menu</h3>
      <%= render :partial => "active_items" %>
    <% end %>
	</div>
</div>

<% if logged_in? && @current_user.role?(:admin) %>
	<div class="row">
		<div class="medium-8 medium-offset-4 columns">
			<%= render :partial => "inactive_items" unless @inactive_items.empty? %>
		</div>
	</div>

	<!-- Add a button for new projects -->
	<%= link_to(new_item_path, class: "button radius") do %>
	  <i class="fa fa-plus"></i>
	  &nbsp;Add a New Item
	<% end %>
<% end %>

