<div class="row padding-top">
	<div class="medium-10 medium-offset-1 columns">
    <% if @active_items.empty? %>
      <h3 class="text-centered">No active items at this time.</h3>
    <% else %>
      <h3 class="text-centered">Available Items</h3>
      <%= render :partial => "active_items" %>
    <% end %>
	</div>
</div>

<% if logged_in? && current_user.role?(:admin) %>
	<div class="row">
		<div class="medium-10 medium-offset-1 columns">
      <% if @inactive_items.empty? %>
        <h3 class="text-centered">No inactive items at this time.</h3>
      <% else %>
        <h3 class="text-centered">Inactive Items</h3>
        <%= render :partial => "inactive_items" unless @inactive_items.empty? %>
      <% end %>      
		</div>
	</div>

  <% if can? :add, @item %>
    <div class="row padding-bottom">
      <div class="medium_1 medium-offset-5 columns">
      	<%= link_to(new_item_path, class: "button radius") do %>
      	  &nbsp;Add a New Item
      	<% end %>
      </div>
    </div>
  <% end %>
<% end %>

