<div class="row">
  <div class="small-4 small_centered columns">
    <h2><%= @item.name %></h2>
  </div>
</div>

<div class="row">
  <div class="small-4 columns">
    <%= render :partial => "item_summary" %>
  </div>
  <div class="small-8 columns">
    <%= render :partial => "item_details" %>
  </div>
</div>

<!-- Add buttons to list all, edit project or destroy project -->
<%= render :partial => "item_list_edit_destroy" %>

